
# Игнорируем файлы настроек IDE и редакторов
*.vscode/
*.pyc
*.pyo
*.pyd
__pycache__/
*.log
*.code-workspace

# Исключаем тесты
tests/

# Исключаем файловые хранилища и временные файлы

*.json
storage/*.json
*.yaml
*.yml

# Исключаем виртуальные окружения
venv/
env/
